#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

#typing-game {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 700px;
  margin: 0 auto;
  padding: 30px 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.sentence {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

label {
  font-weight: bold;
  white-space: nowrap;
  width: 80px;
}
/* 입력창 스타일링 */
#user-input {
  width: 100%; /* 너비를 부모 요소에 맞춤 */
  max-width: 600px; /* 최대 너비 지정 */
  min-height: 50px; /* 최소 높이 */
  resize: none; /* 사용자가 크기를 조절하지 못하도록 설정 */
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  line-height: 1.5;
  box-sizing: border-box;
}

/* 주어진 문장 스타일링 */
#given-sentence {
  width: 100%;
  max-width: 900px; /* 문장 길이 너비 제한 */
  word-wrap: break-word; /* 긴 문장은 줄바꿈 */
  padding: 10px;
  font-size: 18px;
  /* margin-bottom: 15px; */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

#user-input:focus {
  outline: none;
  border-color: #1e90ff;
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
}

#result {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
